<aside class="small-12 medium-4 columns">
    <div>
        <p><span style="color: black;">Coordinatrice : Hélène Fillaudeau</span><br> 
        <a>09 50 52 07 27</a><br>
        <a href="mailto:gem.nantes@gmail.com">gemnantes@gmail.com</a></p>
        <br> 
        <iframe src="https://www.openstreetmap.org/export/embed.html?bbox=-1.5456390380859377%2C47.20984646270576%2C-1.531047821044922%2C47.221171211669386&amp;layer=transportmap&amp;marker=47.21550913950599%2C-1.5383434295654297" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border: 1px solid black"></iframe>
        <br> 
        <p><span style="color: black;">Accès en bus :</span><br>
        C2 : Arrêt Gare Sud<br>
        C3 : Arrêt Picasso<br>
        C5 : Arrêt Picasso</p>
        <p><span style="color: black;">Accès en tram :</span><br>
        L1 : Arrêt Gare Nord(traverser vers Gare Sud)<br></p>
        <p><span style="color: black;">22 rue Marcel Paul, 44000 Nantes</span></p>
    </div>
</aside>